fastapi==0.110.1
httpx==0.26.0
motor==3.4.0
pydantic==2.5.2
pydantic-settings==2.2.1
python-jose[cryptography]
types-pyasn1==0.6.0.20240402
types-python-jose==3.3.4.20240106
# starlette==0.36.3
uvicorn[standard]
